asgiref==3.8.1
crispy-tailwind==1.0.3
Django==5.2
django-crispy-forms==2.4
django-crontab==0.7.1
django-unfold==0.55.3
djangorestframework==3.16.0
psycopg2-binary==2.9.10
python-dotenv==1.1.0
sqlparse==0.5.3
